body {
  background-color: rgb(249, 250, 251);
  font-family: 'Roboto',
  sans-serif;
}

div {
  background-color: rgb(229, 239, 245);
}
#flexContainer {
   max-width: 75%;
   flex-flow: column nowrap;
    margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
}
#sites-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 100%;
}
#table-container {
  flex: 0 1 auto;
  padding: 1rem;
  margin: 1rem;
}
#site-header {
  flex: 0 1 auto;
  padding: 4px; 
}
table {

  border-collapse: collapse;
  background-color: rgb(249, 250, 251);
}

td, th {
  border: 1px solid #aaa;
  padding: 0.5rem;
  text-align: left;
}